// Use the gear_dropdown.png screenshot as a style guide
#gear-dropdown-btn {
  position: relative;
}

#gear-dropdown {
  position: absolute;
  right: 0px;
  top: 25px;
  background-color: $lightest-gray;
  width: 250px;
  border: 1px solid $light-gray;
  padding: 10px;
  z-index: 1;
  box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
  color: $gray;
}

#gear-dropdown  {
  a, span {
    display: inline-block;
    margin: 7px 0px;
    padding: 3px;
  }
}
.editions {
  border-bottom: 1px solid $light-gray;

  li:hover , a:hover {
  background-color: $light-gray;
  text-decoration: none;
  color: $dark-gray;
  }
}

.help a {
  color: $light-blue;
}

.dropdown-subtitle {
  font-weight: bold;
  font-size: 12px;
}
